
spring:
  datasource:
    url: jdbc:mysql://mysql:3306/online_exam_db?serverTimezone=Africa/Kinshasa&useSSL=false
    username: exam_user
    password: exam_password
  jpa:
    hibernate:
      ddl-auto: update # Ou create-drop en développement, mais attention en production
    show-sql: false # Mettre à true en développement pour voir les requêtes
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect # Spécifiez le dialecte MySQL 8
        format_sql: false # Peut être mis à true en développement pour la lisibilité
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
  flyway:
    enabled: false # Vous pouvez l'activer si vous utilisez Flyway pour les migrations
  servlet:
    multipart:
      max-file-size: 10MB # Ajustez la taille maximale selon vos besoins

springdoc:
  default-produces-media-type: application/json

# Configurations spécifiques à votre application (si nécessaire)
application:
  # Exemple: configuration pour le stockage des réponses des étudiants
  reponses:
    chemin-stockage: ./reponses_etudiants